  
  @font-face {
    font-family: 'OCR A Std';
    font-style: normal;
    font-weight: normal;
    src: local('OCR A Std'), url('OCRAStd.woff') format('woff');
    }
	
    @font-face {
    font-family: 'TeXGyreAdventor-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('TeXGyreAdventor-Regular'), url('texgyreadventor-regular.woff') format('woff');
    }
    
body {
    font-family: 'TeXGyreAdventor-Regular';
    margin: 0;
    padding: 0;
    display: flex;
	background-image: url('backgroung.jpg'); 
    background-size: cover;
    background-repeat: repeat; 

}

b{
	font-size:1.5rem;
	color: #336699; 
}

nav{
	background-color: #003366; 
    color: white;
	position: fixed; 
}
header nav {
    width: 200px;
    height: 100vh; 
    top: 0;
    left: 0;
    padding-top: 20px;
}

header nav a.sec{
	    display: block;
		margin: 5px 0;
}

a.sec {
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
	border: 2px solid white;
	border-radius: 2rem;
}

a.sec:hover{
    background-color: white;
	color: #003366;
}

main {
    margin-left: 20%;
    padding: 20px;
    width: 80%; 
	
}

@media screen and (max-width: 600px) {
    header nav {
        width: 30%; 
    }
    main {
        margin-left: 30%; 
    }
}

.cv-button {
    display: inline-block;
    padding: 12px 20px;
    margin-top: 20px;
    background-color: white;
    color: #003366;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.cv-button:hover {
    background-color: #dbe9f4;
}


.mail:hover{
	font-size:1rem;
}
.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic {
    width: 100px;
    height: 100px;
}

.name {
    color: white;
    font-size: 18px;
    margin-top: 10px;
}

.contact {
    text-align: center;
    color: white;
    margin-top: 20px;
}

.social-logo {
    width: 30px;
    height: 30px;
    margin: 5px;
    display: inline-block;
}

.social-logo:hover{
	width: 40px;
    height: 40px;
    margin: 5px;
    display: inline-block;
}

.contact p {
    font-size: 14px;
    margin: 10px 0;
}

.topnav {
  background-color: #003366;  
  position: fixed;
  top: 0;
  left: 200px; 
  right: 0;

  display: flex;
  align-items: center;
  padding-left: 20px;
  z-index: 100; 
}

.topnav a {
  display:flex;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  flex-wrap:wrap;
  justify-content:space-evenly;
  text-align: center;
  border: 2px solid white;
  border-radius: 2rem;
}


main {
  margin-left: 200px; 
  margin-top: 60px;    
  padding: 20px;
}

.block {
  position: relative;        
  border: 2px solid #ddd;         
  border-radius: 10px;         
  padding: 30px 20px 20px 20px;   
  margin: 20px 0;
  background-color: #f8f8f8;     
}


.block h2 {
  position: absolute;          
  top: -15px;                    
  left: 20px;                
  background-color: #f8f8f8;      
  padding: 0 10px;              
  margin: 0;                    
  font-size: 1.5em;            
  color: #333;        
  border-radius:1rem;
}

.video-container {
  display: flex; 
  justify-content: center; 
  position: relative;
  padding-bottom: 56.25%; 
  height: 0;
  margin: 20px 0;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.formations-list {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 0;
  color: #555;
}

.formations-list li {
  margin: 10px 0;
  line-height: 1.5;
}


.competences {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 20px; 
}


.competence-block {
  flex: 1 ;
  background-color: #e9f1f7;  
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  margin: 0 10px;
}

.competence-block h3 {
  font-size: 1.4em;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  color: #333;
}

.competence-block ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
}


.competence-block ul li {
  margin-bottom: 5px;
}
.competence-block ul img {
	height: 1.3rem; 
	width: auto; 
	margin-right: 0.5rem; 
	vertical-align: middle; 
}



.competence-block ul li ul {
  list-style-type: circle;
  margin: 5px 0 5px 20px;
  padding-left: 0;

}

.category-title {
  margin-top: 30px;
  font-size: 1.5em;
  color: #333;
  text-align: center;
}

.interests {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
}

.interest-box {
  width: 160px;             
  height: 160px;           
  background-size: cover;  
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;           
  color: white;             
  font-weight: bold;       
  border: 2px solid #ccc;   
  border-radius: 8px;       
  text-shadow: 
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}




#PROJET {
    display: flex;
	flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}


.IMG {
    width: 50%;
    height: auto;
    margin: 1rem;
    border-radius: 1rem;
}
.descrip{
	width: 50%;
    height: auto;
}
.i{
	width: 90%;
	height: auto;
    margin: 1rem;
}

section  p {
    margin-top: 1rem;
    font-size: 1.3rem;
    text-align: center;
}

section{
	 font-size: 1.3rem;
}
.titre {
    font-size: 2.5rem;
    text-align: center;
}
.titre2 {
    font-size: 1.6rem;
    text-align: center;
	border: 2px solid black;
	border-radius: 1rem;
}

.info {
    display: block;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.9);
	color: white;
	padding:1rem;
	font-family: 'OCR A Std';
}